# Python
backend/venv/
__pycache__/
*.pyc
backend/.env

# Builds / Artefactos generados
backend/dist/
backend/build/
frontend/dist/
frontend/dist.zip
*.pyo

# Node
node_modules/
frontend/node_modules/

# Media/Uploads (En producción se manejan aparte)
backend/uploads/*
!backend/uploads/.gitkeep

# IDEs
.vscode/
.idea/