# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env

# Node
frontend/node_modules/

# Media/Uploads (En producción se manejan aparte)
backend/uploads/*
!backend/uploads/.gitkeep

# IDEs
.vscode/
.idea/